@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto+Slab:wght@300&display=swap');

$purpleColor: #a852a9;
$whiteColor: #d8d8d8;
$greenColor: #648b43;
$yellowColor: #ebbc00;
$blackColor: #050505;

$baseFont: 'Roboto Slab',
serif;
$festiveFont: 'Pattaya',
sans-serif;